.button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  background-color: rgba(48, 20, 255, 1);
  color: rgba(255, 255, 255, 1);
}

/* варианты
.primary {
  background-color: #4f46e5;
  color: white;
}

.danger {
  background-color: red;
  color: white;
} */