/* .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title h1 {
    color: black;
}

.title h1,
.title p {
    margin: 0;
}



.layout {
  display: flex;
  min-height: 100vh;
}

.layout > :first-child {
  width: 240px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: 250px;
  margin-top: 35px;
}

.itemsGrid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(320px, 1fr));

  gap: 30px;

  margin-top: 40px;
}
 */


.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title h1 {
  color: black;
  margin: 0;
}

.title p {
  margin: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* sidebar */
.layout > :first-child {
  width: 240px;
  flex-shrink: 0;
}

/* content */
.content {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;

  margin-left: 250px;
  margin-top: 35px;

  padding-right: 30px;
}

/* search */
.search {
  width: 100%;
  margin-top: 30px;
}

/* view switcher */
.viewSwitcher {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
