html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  overflow-x: hidden;
}